.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
html{
    font-size: 16px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: bisque;
    /* background-image: url(https://allpngfree.com/apf-prod-storage-api/storage/thumbnails/banner-editing-flower-balck-png-images-thumbnail-1649315317.jpg); */
    /* background-repeat: space; */
}
#nav{
    height: 80px;
    width: 100vw;
    background-color: rgba(79, 2, 2, 0.444);
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 50px;
    /* border: 2px solid white; */
    
}
#logo{
    height: 80%;
    display: flex;
    opacity: 100%;
    object-fit: cover;
    margin-left: 150px;
    align-self: center;
    /* border: 2px solid white; */
    overflow: hidden;
    border-radius: 10px;
}
#navContents{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    /* border: 2px solid white; */
}
#navContents a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#nav button{
    justify-self: end;
}
#reservations{
    align-self: center;
    /* display: flex; */
    justify-self: end;
    /* border: 2px solid black; */
}
.buttons{
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
}
#home{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(https://t4.ftcdn.net/jpg/13/88/72/25/360_F_1388722563_XmshYfAzk1If9DMt7mV5Ql18DsCWb1qq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#homeContent{
    
    font-size: 20px;
    height: 550px;
    width: 600px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.532);
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 150px;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px rgb(145, 143, 143);
    /* border: 2px solid white; */
}
#homeContent h1{
    font-size: 2em;
    color: crimson;
}
#homeContent h2{
    margin-top: 20px;
    font-size: 1.1em;
}
#homeContent p{
    margin-top: 20px;
    font-size: 1em;
    text-align: justify;
    text-indent: 100px;
    line-height: 30px;
    font-weight: 300;
}


/* About Contents */
#about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 30px;
    /* background-image: url(https://img.freepik.com/free-photo/abstract-red-smooth-wave-lines_1017-24875.jpg?semt=ais_hybrid&w=740&q=80); */
    background-repeat: no-repeat;
    background-size: cover;
}
#aboutContent{
    font-size: 16px;
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    
    /* background-color: rgba(0, 0, 0, 0.24); */
    /* border: 2px solid black; */
}
#aboutContent h1{
    font-family: "Sacramento", cursive;
    color: crimson;
    font-size: 2em;
}
#aboutContent h2{
    
    font-size: 1.2em;
}
#aboutContent p{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    text-indent: 100px;
    line-height: 25px;
}
#aboutImage{
    width: 40%;
    display: flex;
    height: 500px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 20px;
    /* border: 2px solid black; */
}
#aboutDesign{
    position: absolute;
    z-index: 1;
}

/* 3 */
#traditional{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(220, 20, 60, 0.793);
    /* background-image: url(https://w7.pngwing.com/pngs/537/498/png-transparent-red-textured-background-vintage-continental-red-retro-continental.png); */
    background-size: cover;
    color: bisque;
    /* border: 2px solid black; */
}
#traditional h1{
    font-size: 2.5em;
}
#traditional h2{
    font-size: 1.5em;
}
#traditional p{
    color: white;
    font-size: 1em;
}


/* cards */
#cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 50px;
    gap: 30px;
    justify-content: center;
    /* border: 2px solid black; */
}
.cards{
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: rgba(223, 18, 18, 0.29);
    border-radius: 15px;
    overflow: hidden;
    /* padding: 5px 5px; */
}
.cards h1{
    margin-top: 10px;
    font-size: 1.5em;
}
.cards p{
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.cards img{
    height: 250px;
    width: 100%;
    display: flex;
}
.cardsButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.cardsButton div{
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.cardsButton div p{
    align-self: center;
}
/* excellence */
#excellence{
    background-color: rgb(225, 218, 218);
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
#excellenceText{
    /* border: 2px solid black; */
    font-size: 16px;
}
#excellenceImage{

    height: 400px;
    width: 500px;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 20px;
    /* border: 2px solid black; */
}
#excellence h1{
    display: inline;
    /* background-color: white; */
    font-size: 3em;
    color: crimson;
}
#excellence p{
    font-size: 1.5em;
    color: black;
    /* text-indent: 100px; */
    margin: 30px 10px;
}


/* reservation */
#reservation{
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    /* background-color: rgba(255, 6, 55, 0.714); */
     background-image: url(https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?cs=srgb&dl=pexels-fwstudio-33348-139312.jpg&fm=jpg);
    background-size: cover;
    gap: 40px;
    padding: 20px 0px;
    /* border: 2px solid black; */
}
#reservationImages{
    max-height: 100%;
}
#reservationContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    /* background-color: rgba(0, 0, 0, 0.229); */
    background-color:rgba(255, 255, 255, 0.479);
    /* color: white; */
    border-radius: 20px;
    padding: 20px 20px;
    gap: 20px;
    border: 2px solid black;
}
#reservationContent{
    text-align: center;
}
#reservationContent h1{
    
    font-size: 3rem;
}
#reservationContent h2{
    font-size: 2.5rem;
    color:  rgba(247, 30, 73, 0.714);
}
#reservationContent p{
    line-height: 30px;
    /* color: white; */
    font-size: 1.5rem;
}


/* Forms */
#forms{
    background-color: bisque;
    display: flex;
    margin: 30px;
    padding: 30px;
    gap: 10px;
    /* background-image: url(https://media.geeksforgeeks.org/wp-content/uploads/20210723050322/Lineargradient2-660x322.png); */
    background-color: rgba(2, 158, 179, 0.977);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}
#formSection{
    padding: 20px;
}
#form form button{
    /* justify-self: center; */
    margin-top: 10px;
    align-self: center;
}
#formSection h1{
    font-size: 3rem;
    color: bisque;
    margin-bottom: 20px;
}
#formSection h3{
    font-size: 2rem;
    color: bisque;
    /* text-decoration: underline; */
    margin-bottom: 20px;
}
#formSection p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 50px;
}
#formSection hr{
    font-size: 1.5rem;
    width: 50%;
    justify-self: center;
    margin-bottom: 50px;
}
#call{
    color: white;
}
#email{
    color: white;
}
#callTopic{
    color: crimson;
    text-decoration: none;
}
#emailTopic{
    color: crimson;
    text-decoration: none;
    margin-top: 20px;
}



#form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    color: white;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 20px;
    /* border: 2px solid black; */
}
#formDetails{
    display: flex;
    flex-direction: column;
}
#formDetails h1{
    color:black;
    margin-bottom: 20px;
}
#formDetails h2{
    color:white;
}


#form form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
}
#form form input{
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* footer */
footer{
    /* background-image: url(https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?cs=srgb&dl=pexels-fwstudio-33348-139312.jpg&fm=jpg); */
    /* background-image: url(https://www.codewithrandom.com/wp-content/uploads/2022/11/15-Bootstrap-login-forms32.png); */
    display: flex;
    background-image: url(https://w7.pngwing.com/pngs/537/498/png-transparent-red-textured-background-vintage-continental-red-retro-continental.png);
    background-size: cover;
    color: white;
    padding: 30px;
    justify-content: space-around;
    
}
#makeContact{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* border: 2px solid white; */
}
#loc{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* border: 2px solid white; */
}
.infocard{
    height: 100%;
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.infocard img{
    height: 100%;
    width: 100%;
}



#makeContact h1{
    color: bisque;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
#makeContact h2{
    font-size: 1rem;
    margin-bottom: 20px;
}
#makeContact h5{
    font-size: 1.1rem;
    margin-bottom: 20px;
}




#loc h1{
    color: bisque;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
#loc h5{
    font-size: 1rem;
    margin-bottom: 40px;
}



/* Logos */
#callLogo{
    color: green;
}
#mailLogo{
    color: cyan;
}