html,body{
    width: 100vw;
    overflow: hidden;
}
#all{
    width: 100vw;
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
header{
    height: 10vh;
    position: fixed;
    overflow: hidden;
    background-color: rgba(220, 20, 60, 0.603);
}
#logoDiv{
    overflow: hidden;
}
#logoDiv img{
    max-width: 120px;
}

#coverImg img{
    height: auto;
    width: 100%;
    /* display: block; */
}
#coverContent{

    position: absolute;
}
