
*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
html,body{
    width: 100vw;
}
/* NAVBAR */
#nav{
    height: 80px;
    width: 100%;
    background-color: rgba(79, 2, 2, 0.444);
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 0px 30px;
    justify-content: space-around;
    /* border: 2px solid white; */
}
#logo{
    height: 80%;
    display: flex;
    opacity: 100%;
    object-fit: cover;
    /* margin-left: 150px; */
    align-self: center;
    /* border: 2px solid white; */
    overflow: hidden;
    border-radius: 10px;
}
#navContents{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    /* border: 2px solid white; */
}
#navContents a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#nav button{
    justify-self: end;
}
#reservationsDiv{
    /* display: flex; */
    align-self: center;
    justify-self: end;
    /* border: 2px solid black; */
}
.buttons{
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://media.istockphoto.com/id/1292563627/photo/assorted-south-indian-breakfast-foods-on-wooden-background-ghee-dosa-uttappam-medhu-vada.jpg?s=612x612&w=0&k=20&c=HvuYT3RiWj5YsvP2_pJrSWIcZUXhnTKqjKhdN3j_SgY=);
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    height: 550px;
    width: 1000px;
    margin-bottom: 90px;
    border: 2px solid black;
    border-radius: 5%;
    margin: 20px;  
}
.text{
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color:aliceblue;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 60px;
}
.container3{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 165px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

  
    column-gap: 20px;
    row-gap: 10px;

    padding: 10px;

}

.container3 img{
    width: 100%;      
    height: 250px; 
    border-radius: 20px;
    object-fit: cover; 
    
}

/* footer */
footer{
    /* background-image: url(https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?cs=srgb&dl=pexels-fwstudio-33348-139312.jpg&fm=jpg); */
    /* background-image: url(https://www.codewithrandom.com/wp-content/uploads/2022/11/15-Bootstrap-login-forms32.png); */
    display: flex;
    background-image: url(https://w7.pngwing.com/pngs/537/498/png-transparent-red-textured-background-vintage-continental-red-retro-continental.png);
    background-size: cover;
    color: white;
    padding: 30px;
    justify-content: space-around;
    
}
#makeContact{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 30px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* border: 2px solid white; */
}
#loc{
    display: flex;
    flex-direction: column;
    width: 30%;
     padding-top: 30px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* border: 2px solid white; */
}
.infocard{
    height: 100%;
    width: 15%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.infocard img{
    height: 100%;
    width: 100%;
}



#makeContact h1{
    color: bisque;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#makeContact h2{
    font-size: 1rem;
    margin-bottom: 20px;
}
#makeContact h5{
    font-size: 1rem;
    margin-bottom: 20px;
}




#loc h1{
    color: bisque;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#loc h5{
    font-size: 0.8rem;
    margin-bottom: 40px;
}



/* Logos */
#callLogo{
    color: green;
}
#mailLogo{
    color: cyan;
}




/* ignite */
#igniteDiv{
    background-color: black;
    padding: 15px 0px;
    color: white;
    display: flex;
    justify-content: center;
}
#igniteDiv a{
    /* text-decoration: none; */
    color: white;
}