/* NAVBAR */
#nav{
    height: 80px;
    width: 100vw;
    background-color: rgba(79, 2, 2, 0.444);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    gap: 50px;
}

#logo{
    height: 80%;
    display: flex;
    object-fit: cover;
    margin-left: 150px;
    align-self: center;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 10px;
}

#navContents{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#navContents a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

#reservations{
    align-self: center;
}

.buttons{
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
}

      .con1img img {
        width: 100%;
        height: 400px;
        position: relative;
        
      }
      * {
        margin: 0;
        font-family: sans-serif;
        padding: 0;
      }
      .text h1 {
        position: absolute;
        top: 70%;
        left: 47%; 
        text-align: center;
        translate: -30px -350px;
        color: rgb(255, 26, 72);
        font-family: Georgia, serif;
        font-size: 40px;
      }
      .text p {
        position: absolute;
        top: 80%;
        left: 22%;
        text-align: center;
        justify-self: center;
        align-self: center;
        translate: -30px -350px;
        color: white;
        font-size: 25px;
        width: 60%;
        font-family: Georgia, serif;
        font-size: large;
      }
     body{
        background-color: rgb(255, 242, 242);
         font-family: Georgia, serif;
     }

      .abouttext{
        font-family: Georgia, serif;
      }
      .abouttext h1 {
        margin-top: 70px;
        margin-left: 120px;
        color: crimson;
        
      }
      .abouttext p {
        margin-top: 20px;
        margin-left: 120px;
        width: 70%;
        margin-bottom: 70px;
       
      }
      .sector2img img{
        height: 450px;
        width: 450px; 
        border-radius: 50%;
        margin-top: 50px;
        margin-right: 100px;
        border: 5px solid crimson;
        
      }

      .container2{
         display: flex;
         margin-bottom: 30px;
      }
     .con3text{
        font-family: Georgia, serif;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 100px;
     }

    .con3text{
        font-family: Georgia, serif;
     }

    .con3text h1{
        color: crimson;
        margin-bottom: 20px;
     }

    .con3text p{
        margin-bottom:10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
     }

     .cards{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-bottom: 100px;
       
     }
     .card1{
        height: 400px;
        width: 400px;
        background-color: white;
         border-radius: 30px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
       
        
     }

    .card2{
        height: 400px;
        width: 400px;
        background-color: white;
         border-radius: 30px;
         box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
        
     }

    .card3{
        height: 400px;
        width: 400px;
        background-color: white;
        border-radius: 30px;
         box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
        
     }

    .card1:hover{
        height: 400px;
        width: 400px;
       background-color: rgb(95, 0, 0);
         color: white;
        border-radius: 30px;

        
     }

   .card2:hover{
        height: 400px;
        width: 400px;
        background-color: rgb(95, 0, 0);
        fill: white;
       color: white;

         border-radius: 30px;
        
     }

    .card3:hover{
        height: 400px;
        width: 400px;
        background-color: rgb(95, 0, 0);
        color: white;
         border-radius: 30px;
        
     }

     .bulbicon svg{
        height: 40px;
        width: 40px;
        margin-top: 50px;
        margin-left:175px;

      
     }

          .bulbicon h2{
         margin-top: 30px;
          margin-left:153px;
          
       
      
     }
               .bulbicon p{
         margin-top: 10px;
         width: 75%; 
         text-align: center;
         margin-left:50px; 
     }


     
     .sunicon svg{
        height: 40px;
        width: 40px;
        margin-top: 50px;
        margin-left:175px;

      
     }
               .sunicon h2{
         margin-top: 30px;
          margin-left:125px;
         
       
      
     }

                    .sunicon p{
         margin-top: 10px;
         width: 75%; 
         text-align: center;
         margin-left:50px; 
     }

     #footer{
    font-size: 16px;
    width: 97.4%;
    height: 400px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-image: url(https://w7.pngwing.com/pngs/537/498/png-transparent-red-textured-background-vintage-continental-red-retro-continental.png);
    background-size: cover;
    color: bisque;
    /* margin-bottom: 30px; */
    /* border: 2px solid black; */
}

.location h2{
    color: white;
    font-size: 1.5em;
    margin-right: 500px;
    margin-bottom: 30px;
    color: bisque;
    text-align: left;
    margin-top: 90px;
    
}
.location p{
  
    color: white;
    font-size: 1em;
    margin-right: 90px;
    text-align: left;
    font-size: 1em;
    width: 60%;
    color: bisque;
    margin-top: 10px;
    
}

.location{
  margin-left: 100px;
}

.timing {
    color: white;
    font-size: 1.3em;
    margin-right: 100px;

    margin-bottom: 30px;
    color: bisque;
    text-align: left;
    margin-top: 92px;
            /* justify-self: center;
        align-self: center; */
}
#footer img{
height: 300px;
width: 300px;
border-radius: 10%;
}

.footerimg{
    margin-right: 100px;
    margin-top: 50px;
    
}
.poweredby{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
/* footer */
footer{
    /* background-image: url(https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?cs=srgb&dl=pexels-fwstudio-33348-139312.jpg&fm=jpg); */
    /* background-image: url(https://www.codewithrandom.com/wp-content/uploads/2022/11/15-Bootstrap-login-forms32.png); */
    display: flex;
    background-image: url(https://w7.pngwing.com/pngs/537/498/png-transparent-red-textured-background-vintage-continental-red-retro-continental.png);
    background-size: cover;
    color: white;
    padding: 30px;
    justify-content: space-around;
    
}
#makeContact{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 30px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* border: 2px solid white; */
}
#loc{
    display: flex;
    flex-direction: column;
    width: 30%;
     padding-top: 30px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* border: 2px solid white; */
}
.infocard{
    height: 100%;
    width: 15%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.infocard img{
    height: 100%;
    width: 100%;
}



#makeContact h1{
    color: bisque;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#makeContact h2{
    font-size: 1rem;
    margin-bottom: 20px;
}
#makeContact h5{
    font-size: 1rem;
    margin-bottom: 20px;
}




#loc h1{
    color: bisque;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#loc h5{
    font-size: 0.8rem;
    margin-bottom: 40px;
}



/* Logos */
#callLogo{
    color: green;
}
#mailLogo{
    color: cyan;
}




/* ignite */
#igniteDiv{
    background-color: black;
    padding: 15px 0px;
    color: white;
    display: flex;
    justify-content: center;
}
#igniteDiv a{
    /* text-decoration: none; */
    color: white;
}