
      .con1img img {
        width: 100%;
        height: 600px;
        position: relative;
        
      }
      * {
        margin: 0;
        padding: 0;
      }
      .text h1 {
        position: absolute;
        top: 70%;
        left: 47%;
        text-align: center;
        translate: -30px -350px;
        color: rgb(255, 119, 119);
        font-family: Georgia, serif;
        font-size: 40px;
      }
      .text p {
        position: absolute;
        top: 80%;
        left: 22%;
        text-align: center;
        translate: -30px -350px;
        color: white;
        font-size: 25px;
        width: 60%;
        font-family: Georgia, serif;
      }
     body{
        background-color: rgb(255, 242, 242);
     }

      .abouttext{
        font-family: Georgia, serif;
      }
      .abouttext h1 {
        margin-top: 70px;
        margin-left: 120px;
        color: rgb(254, 107, 107);
        
      }
      .abouttext p {
        margin-top: 20px;
        margin-left: 120px;
        width: 70%;
        margin-bottom: 70px;
       
      }
      .sector2img img{
        height: 450px;
        width: 450px; 
        border-radius: 50%;
        margin-top: 50px;
        margin-right: 100px;
        border: 7px solid rgb(0, 0, 0);
        
      }

      .container2{
         display: flex;
         margin-bottom: 30px;
      }
     .con3text{
        font-family: Georgia, serif;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 100px;
     }

    .con3text{
        font-family: Georgia, serif;
     }

    .con3text h1{
        color: rgb(254, 107, 107);
        margin-bottom: 20px;
     }

    .con3text p{
        margin-bottom:10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
     }

     .cards{
        display: flex;
        justify-content: center;
        gap: 50px;
        
        margin-bottom: 100px;
        
     }
     .card1{
        height: 400px;
        width: 400px;
        background-color: white;
        
        border-radius: 10px;
        
     }

    .card2{
        height: 400px;
        width: 400px;
        background-color: white;
      
        border-radius: 10px;
        
     }

    .card3{
        height: 400px;
        width: 400px;
        background-color: white;
        
        border-radius: 10px;
        
     }

    .card1:hover{
        height: 400px;
        width: 400px;
        background-color: rgb(81, 0, 90);
         color: white;
        border-radius: 10px;
        
     }

         .card2:hover{
        height: 400px;
        width: 400px;
        background-color: rgb(81, 0, 90);
       color: white;
        border-radius: 10px;
        
     }

    .card3:hover{
        height: 400px;
        width: 400px;
        background-color: rgb(81, 0, 90);
        color: white;
        border-radius: 10px;
        
     }

     .bulbicon svg{
        height: 100px;
     }