*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: rgba(79, 2, 2, 0.444);
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    padding: 0px 30px;
    justify-content: space-around;
    /* border: 2px solid white; */
}
#logo{
    height: 80%;
    display: flex;
    opacity: 100%;
    object-fit: cover;
    /* margin-left: 150px; */
    align-self: center;
    /* border: 2px solid white; */
    overflow: hidden;
    border-radius: 10px;
}
#navContents{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    /* border: 2px solid white; */
}
#navContents a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#nav button{
    justify-self: end;
}
#reservationsDiv{
    /* display: flex; */
    align-self: center;
    justify-self: end;
    /* border: 2px solid black; */
}
.buttons{
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
}



.cover{

    /* border: 2px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coverImg{
    width: 100%;
}
.coverImg img{

    height: 500px;
    /* border: 2px solid black; */
    width: 100%;

}

.title {
    padding: 20px 30px;
    position: absolute;
    width: 60%;
    gap: 20px;
    top: 40%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.632);
    border-radius: 20px;
    /* border: 2px solid black; */

}


.booking{
    display: flex;
    padding: 20px 40px;
    gap: 30px;
    /* border: 2px solid black; */
}
.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
form{
    width: 50%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    padding: 10px 20px;
    /* border: 2px solid black; */
    background-color: rgb(85, 84, 81);
    border-radius: 20px;
    padding: 20px;
    color: white;
}
form input{
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}
.details ul li{
    margin-bottom: 10px;
    margin-left: 20px;
}




/* footer */
footer{
    /* background-image: url(https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?cs=srgb&dl=pexels-fwstudio-33348-139312.jpg&fm=jpg); */
    /* background-image: url(https://www.codewithrandom.com/wp-content/uploads/2022/11/15-Bootstrap-login-forms32.png); */
    display: flex;
    background-image: url(https://w7.pngwing.com/pngs/537/498/png-transparent-red-textured-background-vintage-continental-red-retro-continental.png);
    background-size: cover;
    color: white;
    padding: 30px;
    justify-content: space-around;
    
}
#makeContact{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 30px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* border: 2px solid white; */
}
#loc{
    display: flex;
    flex-direction: column;
    width: 30%;
     padding-top: 30px;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* border: 2px solid white; */
}
.infocard{
    height: 100%;
    width: 15%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.infocard img{
    height: 100%;
    width: 100%;
}



#makeContact h1{
    color: bisque;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#makeContact h2{
    font-size: 1rem;
    margin-bottom: 20px;
}
#makeContact h5{
    font-size: 1rem;
    margin-bottom: 20px;
}




#loc h1{
    color: bisque;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#loc h5{
    font-size: 1rem;
    margin-bottom: 40px;
}



/* Logos */
#callLogo{
    color: green;
}
#mailLogo{
    color: cyan;
}




/* ignite */
#igniteDiv{
    background-color: black;
    padding: 15px 0px;
    color: white;
    display: flex;
    justify-content: center;
}
#igniteDiv a{
    /* text-decoration: none; */
    color: white;
}